.container{
    display: flex;
    align-self: flex-end;
    margin-top: 10vh;
    justify-content: space-between;
    width: 100%;
}
.container button{
    font-family: "Ubuntu Medium";
    font-size: 1em;
}
.reverse{
    flex-direction: row-reverse;
}
@media screen and (max-width: 899px) {
    .container{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 10vh;
        background-color: var(--white);
        align-items: center;
    }
    .container button{
        margin: 0 20px;
        max-height: 45px;
    }
}