.continue{
    border: none;
    color: var(--white);
    background-color: var(--marine-blue);
    padding: 15px 25px;
    border-radius: 8px;
}
.continue:hover, .confirm:hover{
    transition: .3s;
    cursor: pointer;
    background-color: var(--paste-blue);
}
.confirm{
    background-color: var(--purplish-blue);
}