.step{
    display: flex;
}
.text{
    text-transform: uppercase;
    
}
.text p{
    color: var(--paste-blue);
    font-size: .75rem;
}
.text span{
    font-family: "Ubuntu Bold";
    font-weight: bold;
    font-size: .8rem;
}
.act{
    transition: .5s;
    background-color: var(--light-blue);
    color: var(--marine-blue);
    
}
.number{
    font-family: "Ubuntu Bold";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
@media screen and (max-width: 899px){
    .text{
        display: none;
    }
    .number{
        width: 30px;
        height: 30px;
    }
}